@use "sass:map";

$card-background: (
    grass: (bg-color:#a7db8d, br-color: #78c850),
    fire: (bg-color: #f5ac78, br-color: #f08030),
    water: (bg-color: #9db7f5, br-color: #6890f0),
    electric: (bg-color: #fae078, br-color: #f8d030),
    bug: (bg-color: #c6d16e, br-color: #a8b820),
    dragon: (bg-color: #a27dfa, br-color: #7038f8),
    fairy: (bg-color: #f4bdc9, br-color: #ee99ac),
    ghost: (bg-color: #a292bc, br-color: #705898),
    ground: (bg-color: #ebd69d, br-color: #e0c068),
    ice: (bg-color: #bce6e6, br-color: #98d8d8),
    normal: (bg-color: #c6c6a7, br-color: #a8a878),
    poison: (bg-color: #c183c1, br-color: #a040a0),
    psychic: (bg-color: #fa92b2, br-color: #f85888),
    rock: (bg-color: #d1c17d, br-color: #b8a038),
    steel: (bg-color: #d1d1e0, br-color: #b8b8d0),
    fighting: (bg-color: #d67873, br-color: #c03028),
    flying: (bg-color: #a890f0, br-color: #a890f0),
    dark: (bg-color: #705848, br-color: #3a2d26),
);

$select-card-background: (
    grass: linear-gradient(to right, rgba(41, 255, 198, 0.75), rgba(32, 227, 178, 0.75), rgba(12, 235, 235, 0.75)),
    fire: linear-gradient(to right, rgba(245, 175, 25, 0.75), rgba(241, 39, 17, 0.75)),
    water: linear-gradient(to right, rgba(47, 128, 237, 0.75), rgba(86, 204, 242, 0.75)),
    electric: linear-gradient(to right, rgba(250, 224, 120, 0.75), rgba(248, 208, 48, 0.75), rgba(247, 174, 18, 0.75)),
    bug: linear-gradient(to right, rgba(141, 194, 111, 0.75), rgba(118, 184, 82, 0.75)),
    dragon: linear-gradient((315deg, rgba(31, 209, 249, 0.75) 0%, rgba(182, 33, 254, 0.75) 74%)),
    fairy: linear-gradient(to right, rgba(255, 221, 225, 0.9), rgba(238, 156, 167, 0.9)),
    ghost: linear-gradient(to right, rgba(51, 51, 153, 0.85), rgba(255, 0, 204, 0.85)),
    ground: linear-gradient(to right, rgba(255, 212, 82, 0.85), rgba(84, 74, 125, 0.85)),
    ice: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(109, 213, 250, 0.75), rgba(41, 128, 185, 0.75)),
    normal: linear-gradient(to right, rgba(222, 203, 164, 0.8), rgba(62, 81, 81, 0.8)),
    poison: linear-gradient(to right, rgba(253, 239, 249, 0.85), rgba(236, 56, 188, 0.85), rgba(115, 3, 192, 0.85), rgba(3, 0, 30, 0.85)),
    psychic: linear-gradient(to right, rgba(75, 192, 200, 0.85), rgba(199, 121, 208, 0.85), rgba(254, 172, 94, 0.85)),
    rock: linear-gradient(315deg, rgba(255, 255, 252, 0.85) 0%, rgba(190, 183, 164, 0.85) 74%),
    steel: linear-gradient(315deg, rgba(184, 198, 219, 0.85) 0%, rgba(245, 247, 250, 0.85) 74%),
    fighting: linear-gradient(to right, rgba(227, 93, 91, 0.85), rgba(229, 57, 53, 0.85)),
    flying: linear-gradient(to right, rgba(142, 84, 233, 0.85), rgba(71, 118, 230, 0.85)),
    dark: linear-gradient(to right, rgba(93, 38, 193, 0.85), rgba(161, 127, 224, 0.85), rgba(89, 193, 115, 0.85))
);

.pokemon-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    min-height: 350px;
    height: 250px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.23) 1px 7px 8px;
    border: 3px solid transparent;

    &:hover {
        @each $type, $color in $type-background {
            &.#{$type} {
                border: 3px solid map.get($color, "br-color");
            }

        }
    }

    @each $type, $color in $type-background {
        &.#{$type} {
            background-color: map.get($color, "bg-color");
        }

    }

    .pokemon-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 80%;
        padding: 10px 10px;
        margin: auto;
        gap: 25px;
    }

    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        width: 100%;

        .name {
            font-family: Lato, sans-serif;
            font-size: 1.4rem;
            text-transform: capitalize;
            color: white;

        }

        .number {
            display: flex;
            background-color: rgba(255, 255, 255, .25);
            border: .2px solid white;
            border-radius: 25px;
            padding: 7px 15px;
            color: white;
            font-size: 0.8rem;
            box-shadow: rgba(0, 0, 0, 0.10) 1px 7px 8px;
        }

    }

    .image-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .bg-circle {
            position: absolute;
            background-color: rgba(255, 255, 255, .25);
            border-radius: 50%;
            width: 150px;
            height: 150px;
            z-index: 2;
        }

        .pokemon-image {
            width: 150px;
            z-index: 3;
        }
    }

    .types-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 25px;

        @each $type, $color in $card-background {
            .types-#{$type} {
                background-color: map.get($color, 'br-color');
                padding: 3px 12px;
                border-radius: 25px;
                color: white;

                img {
                    width: 13px;
                }
            }
        }
    }

    &.select {
        left: calc(50% - 190px);
        top: calc(50% - 225px);
        position: fixed;
        display: flex;
        justify-content: start;
        min-width: 380px;
        min-height: 550px;
        height: 250px;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.23) 1px 7px 8px;
        border: 3px solid transparent;
        background-color: lightgrey;
        z-index: 900;
        box-shadow: 2px 0 12px 4px hsla(0, 0%, 100%, .5);
        gap: 10px;

        @each $type, $color in $card-background {
            &.#{$type} {
                background-color: map.get($color, 'bg-color');
            }
        }

        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            i {
                color: white;
                font-size: 40px;
            }

            img {
                width: 35px;
                color: white;
            }
        }

        .title-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            line-height: 70.28px;

            .name {
                text-align: center;
                font-family: Lato, sans-serif;
                vertical-align: middle;
                color: white;
                font-size: 1.8rem;
                font-weight: 900;
                text-transform: capitalize;
            }

            .number {
                color: white;
                font-size: 1.3rem;
                font-weight: 550;

            }
        }

        .types-container {
            justify-content: start;
            align-items: start;
            gap: 10px;

            .types {
                color: white;
                background-color: rgba(255, 255, 255, .25);
                border-radius: 25px;
                padding: 10px 15px;

                img {
                    width: 13px;
                }
            }
        }

        .image-container {
            display: flex;
            width: 100%;
            height: fit-content;

            img {
                width: 185px;
            }
        }

        .pokemon-section-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 100%;
            width: 380px;
            background-color: white;
            border-radius: 21px;
            margin: -26px -100px -12.5px -100px;
            padding: 10px 15px;

            .title {
                font-family: 'Times New Roman', Times, serif;
                color: #343a40;
                font-weight: 250;
                font-size: 18px;
            }

            .stats-container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-transform: capitalize;
                width: 100%;
                gap: 7px;

                .stat-section {
                    display: flex;
                    width: 100%;
                    gap: 10px;
                }

                .content-section {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 58%;
                    gap: 10px;

                    .attribute {
                        color: #525252;
                        font-family: "Lato", sans-serif;
                        font-weight: 700;
                        font-size: .95rem;
                        text-transform: uppercase;
                    }
                }

                .bar-section-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;

                    .bar-section {
                        position: relative;
                        display: flex;
                        width: 80%;
                        background: lightgrey;
                        border-radius: 100px;
                        height: 7px;

                        @each $type, $color in $card-background {
                            .progress-animation-#{$type} {
                                left: 0;
                                top: 0.5px;
                                position: absolute;
                                overflow: hidden;
                                height: 95%;
                                width: 100%;
                                border-radius: 100px;
                                transform-origin: left;
                                color: red;
                                animation: #{$type}-select .9s ease-out forwards;

                                @keyframes #{$type}-select {
                                    0% {
                                        transform: scaleX(0.1);
                                        background-color: #001F3F;
                                    }

                                    100% {
                                        transform: scaleX(1.0);
                                        background-color: map.get($color, 'br-color');

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
        }
    }
}